div.well {
   background-color: #FFFF99;
   border-color: #FFCC00;
   }
div.panel {
  border-color: #FFCC00;
}
select.form-control {
  border-color: #FFCC99;
}
input.form-control {
  border-color: #FFCC99;
}
