body {
  background-color: #FFCFC9;
}

div.well {
  background-color: #FF6347;
  border-color: #FF4500;
  text-shadow: 1px 1px 1px #000000;
  color: #FFE4E1;
}

select.form-control {
  border-color: #FFCC99;
}

input.form-control {
  border-color: #FFCC99;
}

div.panel#votacao {
  border-color: #FFCC00;
  background-color: #FFFFF0;
  text-shadow: 1px 1px 1px #000000;
  color: #8B0000;
}

label#lbVotacao {
  text-shadow: 0px 0px 0px #000000;
  color: #8B0000;
}

div.panel#filtroRelatorio {
  border-color: #FF4500;
  background-color: #FFFFF0;
  color: #D2691E;
}

div.panel#relatorio {
  border-color: #FF4500;
  background-color: #FFFFF0;
  color: #D2691E;
}

tr#trRelatorio {
  background-color: #FF6347;
  text-shadow: 1px 1px 1px #000000;
  color: #FFE4E1;
}

button#btnPesquisa {
  background-color: #FF6347;
  text-shadow: 1px 1px 1px #000000;
  color: #FFE4E1;
  border-color: #FFCC99;
}



#principal{
  width:500px;
  height:60px;
  margin-left:10px;
  font-family:Verdana, Helvetica, sans-serif;
  font-size:14px;
}
#barras{
  width:428px;
  height:30px;
  float:left;
  margin: 2px 0;
  border-color: #FF0000;
}
.barra1, .barra2, .barra3, .barra4{
  color:#FFF;
  padding-left:10px;
  height:30px;
  line-height:30px;
}
.barra{ background-color: #FF0000; }
.barra2{ background-color: #0000FF; }
.barra3{ background-color: #FF6600; }
